body{
   
    margin: 0;
    font-family: "Sofia", sans-serif;
    font-family: "Lato", sans-serif;
    
}
.profile-image
{
    width: 120px;
    height: 140px;
}
 
h1{
    font-size: 2.5rem;
    text-align: center;
    color:black;
    padding-top: 10px;
    
}
h2{
    font-size: 2.5rem;
    text-align: center;
    
    
    
}


a{
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
}
[class*="col-"]
{
    float:left;
    padding: 10px;
}

[class*="col-"]
{
    width: 100%;
}

.navbar{
    background-color: #107B3E;
    padding:1% 10% ;
    text-align: center;
}



.navbar-menu
{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a
{
    background-color:#107B3E;
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px;
}

.navbar-menu a:hover
{
    background-color: gray;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}
.profile{

    padding: 130px 10px;
    position: relative;
    text-align: center;
}
.profile-desc p{
    color: gray;
    margin: 0 auto 20px auto;
    text-align: center;
    width:90%;

}


.about-me
{
    background-color:#107B3E;
    padding: 1% 7%;
    color: white;
    text-align: center;
   font-family: "Sofia", sans-serif;
}

.about-me::after{
    clear: both;
    display: table;
    content: '';
}

.dotted-hr
{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
    
}

.footer{
    background-color:black ;
   
}
 .footer img{
   padding-left: 50px;
   height: fit-content;
  }



  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#107B3E;
    overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 60px;

  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  }
  
  .container1{
    display: flex;
    background-color:#107B3E;
    
}

.container2{
    
    height: 100%;
    width:80%;
    margin: 0 auto;
}
table , th,td{
    border: 1px solid black;
  
  }
  

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #107B3E;
    color: white;
    padding: 10px 15px;
    border: none;
    /* padding-left: 10px ; */
  }
  
  .openbtn:hover {
    
    opacity: 0.7;
    color: black;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;;
    color:rgb(14, 13, 13);
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
    background-color: #107B3E;
    border-radius: 10px 10px 10px 10px;
  }
  
  .sidebar .closebtn {
     position: absolute;  
    top: 0;
    right: 25px;
    font-size: 36px;
    padding-left: 50px;
    overflow-x: hidden;
  }
 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  